header,
h1,
h4,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

/* HEADER */

#logo {
  font-family: "Sacramento", cursive;
  font-size: 33px;
  padding-left: 20px;
  padding-top: 6px;
  font-weight: bolder;
  white-space: nowrap;
}

p,
figcaption {
  font-family: "Lora", serif;
  color: black;
}

ul {
  list-style: none;
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: right;
  font-weight: bold;
}

header {
  background-color: lightskyblue;
  height: 2.5cm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px -3px 3px lightgrey;
  border: 1px solid lightblue;
  border-radius: 2px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-right: 60px;
}

/* MAIN */

img {
  float: left;
  box-shadow: -5px -3px 3px lightgray;
  border: 1px solid grey;
  border-radius: 2px;
}

.image {
  width: 12cm;
  float: left;
  clear: left;
  margin-left: -39px;
  margin-bottom: 21px;
  margin-top: -59px;
}

.image2 {
  width: 12cm;
  float: left;
  clear: left;
  margin-left: -39px;
  margin-bottom: 21px;
}

.image3 {
  width: 12cm;
  float: left;
  clear: left;
  margin-left: -39px;
  margin-bottom: 21px;
}

.h2-violin {
  padding-top: 410px;
  padding-left: 440px;
}
.h2-football {
  padding-top: 115px;
  padding-left: 440px;
}

.h2-sports {
  padding-top: 72px;
  padding-left: 440px;
}

.h2-violin,
.violin {
  margin: 1px;
  max-width: 650px;
}

.h2-football,
.liverpool {
  margin: 1px;
  max-width: 650px;
}

.h2-sports,
.floorball {
  margin: 1px;
  margin-bottom: 8px;
  max-width: 650px;
}

.violin {
  padding-left: 440px;
  padding-top: 0px;
}

.liverpool {
  padding-left: 440px;
  padding-top: 0px;
}

.floorball {
  padding-left: 440px;
  padding-top: 0px;
}

.heading-interests {
  padding-top: 0%;
  padding-left: 475px;
}

.image,
.heading {
  display: flex;
  justify-content: space-between;
}

.heading-about {
  display: flex;
  padding-top: 375px;
  padding-left: 25px;
}

.info {
  display: flex;
  max-width: 600px;
  padding-left: 25px;
}

/* FOOTER */

footer {
  margin-top: 2vh;
  background-color: lightskyblue;
  padding-bottom: 20px;
  padding-top: 10px;
  box-shadow: -5px -3px 3px lightgrey;
  border: 1px solid lightblue;
  border-radius: 2px;
}

h4 {
  padding-top: 10px;
}

footer h4,
footer p {
  margin: 3px;
}

.fa {
  padding-top: 10px;
  padding-left: 10px;
  width: 0px;
}

.fa:hover {
  color: rgb(8, 60, 230);
  text-decoration: none;
}

/* CONTACT PAGE */

h3 {
  margin-left: 10px;
}

.heading-contact {
  margin-left: 10px;
}

form {
  background-color: rgb(110, 175, 240);
  display: grid;
  grid-template-columns: 20%;
  grid-template-rows: repeat(6, 25px);
  grid-template-areas:
    "name message"
    "name-box message-box"
    "email ."
    "email-box ."
    "subject ."
    "subject-box submit";
  row-gap: 7px;
  column-gap: 30px;
  margin-left: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 20px;
  margin-right: 70%;
  box-shadow: -5px -3px 3px lightgray;
  border: 1px solid lightblue;
  border-radius: 2px;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
  font-size: small;
  min-width: 500px;
  max-width: 600px;
}

.name {
  grid-area: name;
}

.message {
  resize: none;
  grid-area: message;
}

.email {
  grid-area: email;
}

.subject {
  grid-area: subject;
}

.name-box {
  grid-area: name-box;
  margin-top: -10px;
  margin-bottom: 10px;
}

.message-box {
  grid-area: message-box;
  resize: none;
  margin-right: 20px;
  padding-bottom: 100px;
  margin-top: -10px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.email-box {
  grid-area: email-box;
  margin-top: -10px;
  margin-bottom: 10px;
}

.subject-box {
  grid-area: subject-box;
  margin-top: -10px;
  margin-bottom: 10px;
}

.submit {
  width: 100px;
  background-color: rgb(107, 218, 107);
  padding-top: 7px;
  padding-bottom: 22px;
  box-shadow: -2px -1px 2px rgb(144, 206, 226);
  border: 1px solid green;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  grid-area: submit;
  margin-top: -10px;
  margin-bottom: 10px;
  justify-self: end;
  margin-right: 20px;
}

.submit:hover {
  background-color: rgb(14, 172, 14);
}

.head-phone {
  margin-left: 10px;
  margin-top: -10px;
}

.head-email {
  margin-left: 10px;
}

.contact-email,
.contact-phone {
  margin-left: 10px;
  margin-top: -20px;
  cursor: pointer;
}

.contact-email:hover {
  text-decoration: underline;
}

.contact-phone:hover {
  text-decoration: underline;
}

.contact-options {
  margin-top: 40px;
  margin-bottom: -15px;
}
