.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "vanja organ"
    "jetty julia"
    "salah road";
    column-gap: 50px;
    grid-row-gap: 100px;
    align-items: center;
    justify-items: center;
    width: 100vw;
  }
  
  .work-heading {
    padding-bottom: 2%;
  }
  
  .work-image:hover {
    transform: scale(0.95);
  }
  
  .work-image {
    transition: transform 50ms ease-in-out;
    width: 40vw;
    aspect-ratio: 3/2;
  object-fit: cover;
  justify-self: center;
  cursor: pointer;
  }
  
  .vanja {
    grid-area: vanja; 
}

  .road {
    grid-area: road;
    margin-bottom: 5%;
  }
   .jetty {
    grid-area: jetty;
   }
  
   .julia {
    grid-area: julia;
   }
  
   .organ {
    grid-area: organ;
   }
  
   .salah {
    grid-area: salah;
    margin-bottom: 5%;
   }

  